@font-face {
  font-family: 'Serial B Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/SerialBNeue-Regular.woff2) format('woff2'),
       url(../assets/fonts/SerialBNeue-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Serial B Neue';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../assets/fonts/SerialBNeue-Heavy.woff2) format('woff2'),
       url(../assets/fonts/SerialBNeue-Heavy.woff) format('woff');
}
